# Compiler files
cache/
/out/*

# Don't ignore the 'out/StubXcmUtils.sol/' directory
!/out/StubXcmUtils.sol/

# Don't ignore the contents of the 'out/StubXcmUtils.sol/' directory
!/out/StubXcmUtils.sol/*

# Don't ignore the 'out/StubXcmTransactorV2.sol/' directory
!/out/StubXcmTransactorV2.sol/

# Don't ignore the contents of the 'out/StubXcmTransactorV2.sol/' directory
!/out/StubXcmTransactorV2.sol/*

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env

.idea/

# Ignore mac files
*.DS_Store